<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs") %> 

<body>
	<div class="body-container">
		<div class="header">
			<header>
				<h1>Pokedex</h1>
				<div>Hello there! Welcome to the world of pokemon! This world is inhabited by creatures called pokemon! For some people, pokemon are pets. Other use them for battle. But this is a space to study pokemon and all of their unique traits.</div>
			</header>
		</div>
		<div class="flex-cntr" id="pokedex">
			<% for( let pokemon in allPokemon ) { %>
			<div class="flex-cntr col" id="pokemon container">
				<!-- i want the index of the pokemon on the webpage to match the id to make finding the pokemon intuitive -->
				<div class="pokemon img"><a href="/pokemon/<%= allPokemon[pokemon].id %>"><img src="<%= allPokemon[pokemon].img %>"/></a></div>
				<div class="pokemon id"><%= allPokemon[pokemon].id %></div>
				<div class="pokemon name"><%= allPokemon[pokemon].name %></div>
			</div>
			<% } %>
		</div>
	</div>
</body>
</html> 