<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs") %> 

<body class="flex-cntr">
	<div class="fixed flex-cntr"><h1>Pokedex</h1></div>
	<div class="flex-cntr" id="header">
		Hello there! Welcome to the world of pokemon! <br/>
		This world is inhabited by creatures called pokemon! <br/>
		For some people, pokemon are pets. Other use them for battle. <br/>
		But this is a space to study pokemon and all of their unique traits.
	</div>
	<div class="body-container flex-cntr">
		<div class="flex-cntr" id="pokedex">
			<!-- i want the index of the pokemon on the webpage to match the id to make finding the pokemon intuitive -->
			<% for( let pokemon in allPokemon ) { %>
			<div class="flex-cntr col" id="pokemon-container">
				<div id="pokemon-img">
					<a href="/pokemon/<%= allPokemon[pokemon].id %>"><img src="<%= allPokemon[pokemon].img %>"/></a>
				</div>
				<div id="pokemon-id"><%= allPokemon[pokemon].id %></div>
				<div id="pokemon-name"><%= allPokemon[pokemon].name %></div>
			</div>
			<% } %>
		</div>
	</div>
</body>
</html> 