<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs") %> 

<body class="flex-cntr col">
	<div class="fixed flex-cntr"><h1>Pokedex</h1></div>
	<div class="flex-cntr col" id="header">
		Hello there! Welcome to the world of pokemon! <br/>
		This world is inhabited by creatures called pokemon! <br/>
		For some people, pokemon are pets. Others use them for battle. <br/>
		But this is a space to study pokemon and all of their unique traits.<br/>
		<br/>
		<button><a href="/pokemon/new/"><h3>Click me to register a new pokemon!</h3></a></button>
		<button id="top-page"><a href="#bottom-page">Bottom of page</a></button>
	</div>

	<div class="body-container flex-cntr">
		<div class="flex-cntr" id="pokedex">
			<!-- i want the index of the pokemon on the webpage to match the id to make finding the pokemon intuitive -->
			<% for( let pokemon in allPokemon ) { %>
			<a href="/pokemon/<%= allPokemon[pokemon].id %>" ></a>
			<div class="flex-cntr col" id="pokemon-container">
					
				<div id="pokemon-img">
					<a style="text-decoration: none; color: black;" href="/pokemon/<%= allPokemon[pokemon].id %>"><img src="<%= allPokemon[pokemon].img %>"/>
				</div>
				<div id="pokemon-id"><%= allPokemon[pokemon].id %></div>
				<div id="pokemon-name"><%= allPokemon[pokemon].name %></div>
			</div>
			</a>
			<% } %>
		</div>
		<button id="bottom-page"><a href="#top-page">Back to Top</a></button>
	</div>
</body>
</html> 